<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/landing.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap" rel="stylesheet">
<body>
    <%- include('partials/header1') %>

    <section class="section1">
        <div class="section1-image">
            <img src="images\doctors.png">
        </div>
        <div class="section1-text">
            <h1>سلامت شما،رسالت ما</h1>
            <h5>بهترین پزشکان در دسترس شما نوبت‌دهی آنلاین<br> مطمئن فقط با چند کلیک</h5>
            <div class="section1-btn">
                <a class="btn1" href="/aboutus">پشتیبانی</a>
                <a class="btn2" href="/search">رزرو نوبت</a>
            </div>
        </div>        
    </section>
    <section class="section2">
        <div class="card1">
            <div class="card1-text">
                <h1>دسترسی ۲۴ ساعته به پزشکان</h1>
                <span>در هر زمانی میتوانید نوبت خود را رزرو کنید </span>
            </div>
            <div class="card1-image">
                <img src="images\clock-02.png">
            </div>
        </div>
        <div class="card2">
            <div class="card2-text">
                <h1>اطمینان از انتخاب مجرب‌ترین پزشکان</h1>
                <span>بهترین پزشکان را با توجه به نظرات کاربران انتخاب کنید</span>
            </div>
            <div class="card2-image">
                <img src="images\comment-01.png">
            </div>
        </div>
        <div class="card3">
            <div class="card3-text">
                <h1>مدیریت و تغییر نوبت ها به راحتی</h1>
                <span>توانایی لغو، تغییر و مدیریت نوبت ها به راحتی</span>                
            </div>
            <div class="card3-image">
                <img src="images\setting-04.png">
            </div>
        </div>
    </section>
    <section class="section3"> 
        <div class="searchbox">
            <h2>فقط یک جستجو با بهترین پزشکان فاصله دارید</h2>
            <p>در کمتر از ۱ دقیقه نوبت خود را رزرو کنید</p>
            <div class="search">
                    <img src="images\elements.png">
                    <form id="search-form" action="/search" method="POST">
                        <input type="text" name="search" placeholder="پزشک یا تخصص مورد نظر را جستجو کنید" />
                        <!-- <button id="submit" type="submit"> جستجو </button> -->
                    </form>
                </div>
        </div> 
    </section>
    <section class="section4">
        <div class="section4-in">
            <div class="label-takhassos">
                <div class="label1">مشاهده همه</div>
                <div class="label2">لیست تخصص ها </div>
            </div>
            <div class="takhassosha">
                <a href="#" onclick="go('گوش حلق بینی')" class="takhassos1">
                    <img src="images\dental.png" />
                    <h1>گوش حلق بینی</h1>
                </a>
                <a href="#" onclick="go('اطفال')" class="takhassos2">
                    <img src="images\pediartic.png" />
                    <h1>اطفال</h1>                   
                </a>
                <a href="#" onclick="go('چشم پزشک')" class="takhassos3">
                    <img src="images\eye.png" />
                    <h1>چشم پزشکی</h1>                   
                </a>
                <a href="#" onclick="go('دستگاه تنفسی')" class="takhassos4">
                    <img src="images\pulmonology 1.png" />
                    <h1>دستگاه تنفسی</h1>                   
                </a>
                <a href="#" onclick="go('مغز و اعصاب')" class="takhassos5">
                    <img src="images\brain.png" />
                    <h1>مغز و اعصاب</h1>                  
                </a>
                <a href="#" onclick="go('ارتوپد')" class="takhassos6">
                    <img src="images\orthopedics 1.png" />
                    <h1>ارتوپد</h1>                   
                </a>
                <a href="#" onclick="go('قلب و عروق')" class="takhassos7">
                    <img src="images\heart.png" />
                    <h1>قلب و عروق</h1>                   
                </a>
            </div>
        </div>
    </section>
    <section class="section5">
        <div class="section5-in">
            <div class="label-pezeshk">
                <div class="label1"><a href="/search">مشاهده همه</a></div>
                <div class="label2">محبوب ترین پزشکان <span>( بر اساس تعداد نوبت‌های رزرو شده )</span></div>
            </div>
            <div class="pezeshkha">
                <%topDoctors.forEach(doctor=>{%>
                    <div class="pezeshk1">
                        <div class="pezeshk-img">
                            <img src="images\<%=doctor.image_url%>" />  
                        </div> 
                        <div class="pezeshk-text1"  ><span></span>  <%= doctor.first_name %>    <%= doctor.last_name %></div>
                        <div class="pezeshk-text2" > <%=doctor.spetialty.spetialty%>                              <%=doctor.description[0].city%></div>                    
                        <div class="pezeshk-btn">                 
                            <a class="pezeshk-nobat" href="/flow/<%=doctor.id%>">دریافت نوبت</a>
                        </div>                    

                    </div>
                <%})%>


            </div>
        </div>
    </section>
    <section class="section6">
        <div class="test">
            <div class="test-img">
                <img src="images\test.png" /> 
            </div> 
            <div class="test-text">
                <h1>همین حالا رایگان تست سلامت بگیرید</h1>
                <h5>در کمتر از دو دقیقه سلامت خود را ارزیابی کنید</h5>
                <div class="test-btn">
                    <a href="/test-salamat" class="test-salamat">شروع تست سلامت</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section7">
        <div class="section7-in">
            <div class="label-pezeshk">
                <div class="label1">مشاهده همه</div>
                <div class="label2">جدید ترین پزشک ها</div>
            </div>
            <div class="pezeshkha">
            <% oldDoctors.forEach(doctor => { %>
                <div class="pezeshk1">
                    <div class="pezeshk-img">
                        <img src="/images/<%= doctor.image_url %>" />
                    </div> 

                    <div class="pezeshk-text1"><span></span>  <%= doctor.first_name %>    <%= doctor.last_name %></div>

                    <div class="pezeshk-text2"><%= doctor.spetialty.spetialty %>                              <%= doctor.description[0].city %></div>                    

                    <div class="pezeshk-btn">                 
                    <a class="pezeshk-nobat" href="/flow/<%= doctor.id %>">
                     دریافت نوبت
                    </a>
                    </div> 
                </div> 
            <% }) %>
            </div>
        </div>
    </section>
    <section class="section8">
      <div class="container-faq">
        <h2>سوالات متداول</h2>
        <div class="accordion">
          <div class="accordion-item">
            <div class="accordion-header">
              <span class="icon">▼</span>
              <span>چگونه میتوانم نوبت رزرو کنم ؟</span>
              
            </div>
            <div class="accordion-content">
              پس از پیدا کردن پزشک مورد نظر، روی دکمه "رزرو نوبت" کلیک کنید. سپس تاریخ و ساعت مورد نظر خود را از تقویم پزشک انتخاب کنید و اطلاعات خود را وارد کنید. پس از تایید، نوبت شما ثبت خواهد شد و پیامک تایید برای شما ارسال میشود.
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header">
              <span class="icon">▼</span>
              <span>چگونه می‌توانم پزشک مورد نظر را پیدا کنم ؟</span>
              
            </div>
            <div class="accordion-content">
              با استفاده از فیلتر تخصص و شهر، پزشک مورد نظر خود را می‌توانید پیدا کنید.
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header">
                <span class="icon">▼</span>
              <span>چگونه نوبت خود را لغو یا جابجا کنم ؟</span>
              
            </div>
            <div class="accordion-content">
              وارد حساب کاربری خود شوید و در بخش نوبت‌ها، گزینه لغو یا تغییر نوبت را انتخاب کنید.
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header">
                <span class="icon">▼</span>
              <span>آیا میتوانم برای شخص دیگری نوبت رزرو کنم ؟</span>
              
            </div>
            <div class="accordion-content">
              بله، کافی است اطلاعات شخص مورد نظر را در هنگام رزرو وارد کنید.
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header">
                <span class="icon">▼</span>
              <span>چگونه هزینه نوبت را پرداخت کنم ؟</span>
              
            </div>
            <div class="accordion-content">
              پرداخت آنلاین از طریق درگاه امن بانکی انجام می‌شود.
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header">
                <span class="icon">▼</span>
              <span>چگونه می‌توانم نزدیک‌ترین پزشک به محل سکونت خود را پیدا کنم ؟</span>
              
            </div>
            <div class="accordion-content">
              با استفاده از نقشه و فیلتر شهر، نزدیک‌ترین پزشک به شما نمایش داده می‌شود.
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header">
                <span class="icon">▼</span>
              <span>آیا میتوانم نسخه‌های الکترونیکی خود را از طریق وب‌سایت دریافت کنم ؟</span>
              
            </div>
            <div class="accordion-content">
              بله، نسخه‌های الکترونیکی شما در پروفایل کاربری قابل مشاهده و دانلود هستند.
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <%- include('partials/footer') %>
    
    <script>

        function go(title){
            const url = `/search?spetialty=${encodeURIComponent(title)}`
            window.location.href = url
        }

        const headers = document.querySelectorAll('.accordion-header');
        headers.forEach(header => {
            header.addEventListener('click', () => {
                const content = header.nextElementSibling;
                const icon = header.querySelector('.icon');
                const isOpen = content.classList.contains('open');

                document.querySelectorAll('.accordion-content').forEach(c => c.classList.remove('open'));
                document.querySelectorAll('.icon').forEach(i => i.classList.remove('rotate'));

                if (!isOpen) {
                    content.classList.add('open');
                    icon.classList.add('rotate');
                }
            });
        });

  const thumbsCont = document.getElementById('item-1');
  const Up = document.getElementById('yesBtn');
  const Down = document.getElementById('noBtn');

  thumbsCont.addEventListener('click' , (e)=>{
    if(e.target.closest('#yesBtn')){
      Up.firstElementChild.src='recourses/vectors/thumbs-up[accent].svg'
      Down.firstElementChild.src='recourses/vectors/thumbs-down[grey].svg'
      Up.style = 'transition:all 0.2s ease ; color: var(--accent);border-color: var(--accent)'
      Down.style = ''
    }
    if(e.target.closest('#noBtn')){
      Up.firstElementChild.src='recourses/vectors/thumbs-up[grey].svg'
      Down.firstElementChild.src='recourses/vectors/thumbs-down[accent].svg'
      Down.style = 'transition:all 0.2s ease ;color: var(--accent);border-color: var(--accent)'
      Up.style = ''
    }
  })
</script>
        <section class="section8"></section> 

</body>
</html>